i {
    color: #413632;
}
i:hover{
    color: #e8cfac;
    cursor: pointer;
}
button{
    background-color: #413632;
    color: #fff;
    
}
button:hover{
    background-color: transparent;
    outline: solid 1px #413632;
    color: #413632;
}