<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<body class="flex-row d-flex justify-content-between align-items-center px-4 py-2 ">


    <nav class="nav-bar">
        <a class="fa-solid fa-house" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></a>
        <a class="fa fa-shopping-cart" routerLink="/shop" routerLinkActive="active"></a>
        <a class="fa-solid fa-user" routerLink="/account" routerLinkActive="active"></a>
        <div class="indicator"></div>
    </nav>
</body>