.btn {
    text-align: right;
    color: #fff;
    background-color: #413632;
}
.btn:hover {
    color: #413632;
    background-color: #fff;
}
.searchContainer {
    margin-left: auto; 
}
.filter {
    color: #413632;
}
.list-group-item.active{
    background-color: #413632;
}