<div class="px-4 py-3 fw-bold" style="background-color: #e8cfac;">
    ORDER SUMMARY
</div>

<div class="">
    <ul class="list-unstyled mb-4" *ngIf="(basketService.basketTotalSource$ | async) as totals">
        <li class="d-flex justify-content-between py-3 border-bottom" >
            
            <strong class="text-muted  mx-3">Subtotal</strong>
            <strong class=" mx-3">{{totals.subtotal | currency}}</strong>

        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted  mx-3">Shipping fee</strong>
            <strong class=" mx-3">{{totals.shipping | currency}}</strong>

        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted mx-3">Total</strong>
            <strong class=" mx-3">{{totals.total | currency}}</strong>

        </li>
    </ul>
</div>